main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    padding: 3rem;
    background-color: #dcdcdc9e;
}

main form {
    display: flex;
}

main input, button {
    border: 2px solid blueviolet;
    outline: none;
    padding: 1.5rem;
}

main input {
    border-right: none;
}

main button {
    border-left: none;
}

.title, .invalid_city {
    font-size: 3rem;
}